.form-conteiner {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
  }
    
    
    .modal-text {
      width: 100%;
      height: 100%;
      margin-bottom: 12px;
      margin-top: 40px;
      text-align: center;
    
      font-style: normal;
      font-weight: 700px;
      font-size: 20px;
      line-height: 1.15;
    
      letter-spacing: 0.03em;
    
      color: $main-text-color;
    }
           
    .imput-modal {
      width: 100%;
    
      margin-bottom: 10px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      box-sizing: border-box;
      border-radius: 4px;
      padding-top: 12px;
      padding-left: 42px;
      padding-bottom: 12px;
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:focus {
        border-color: $bgc;
        outline: none;
      }
      
      &:focus + .icon-modal {
        fill: $bgc;
      }
      
    }
    
    .imput-conteiner {
      position: relative;
    }
    
    .icon-modal {
      position: absolute;
      top: 0;
      left: 15px;
      transform: translateY(65%);
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      width: 18px;
      height: 18px;
    }
    
    
    .textarea {
      width: 100%;
      height: 120px;
      resize: none;
      border: 1px solid rgba(33, 33, 33, 0.2);
      box-sizing: border-box;
      border-radius: 4px;
      padding: 12px 16px;
      margin-bottom: 20px;
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &::placeholder {
        font-style: normal;
        font-weight: 400px;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0.01em;
      
        color: rgba(117, 117, 117, 0.5);
      }

      &:focus {
        border: 1px solid $bgc;
        border-radius: 4px;
        outline: none;
      }
    }
        
    .label-checkbox {
      display: block;
    
      margin-bottom: 31px;
      position: relative;
    }
    
    .checkbox-icon {
      width: 15px;
      height: 15px;
      border: 2px solid $checkbox-color;
      border-radius: 2px;
      cursor: pointer;
      display: inline-block;
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
    }
    
    .text-p {
      margin-left: 37px;
    }
    
    .old-checkbox:checked + .checkbox-icon {
      background-color: $button-bgc;
      border-color: $button-bgc;
      background-image: url(../img/Vector1.svg);
      background-size: contain;
      background-origin: border-box;
      fill: $bgc-accent-text-color;
      width: 15px;
      height: 15px;
      background-repeat: no-repeat;
    }
    
    .text-checkbox {
      margin-left: 31px;
    }
    
    .button-modal {
      display: flex;
      justify-content: center;
    }
    
    .button-submit {
      padding: 10px 55px;
      background: $bgc;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border-color: $bgc;
      outline-color: $main-bgc;
      cursor: pointer;
    }
    
    .name-text {
      font-style: normal;
      font-weight: 400px;
      font-size: 12px;
      line-height: 1.2;
    
      letter-spacing: 0.01em;
    
      color: $secondary-text-color;
      margin-bottom: 4px;
    }
    
    .agreement-link {
      text-decoration-line: underline;
      color: $accent-text-color;
    }
    