
    
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    
    height: 581px;
    background-color: $bgc-accent-text-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition-property: transform, scale;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: $bgc-accent-text-color;
    cursor: pointer;
    outline: none;
  }
  
  .close-icon:focus,
  .close-icon:hover {
    fill: $bgc;
  }