.advantage {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and(min-width:1200px) {
      padding-top: 94px;
    padding-bottom: 94px;
    }
  }
  
  .advantage-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
     margin-left: -30px;
    margin-top: -30px;
  }
  
  }
 
  
  .advantage-title {
    margin-top: 30px;
    padding: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 0.8;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-text-color;
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
    
  }
  
  .advantage-item {
    width: 100%;

    &:not(:last-child){
      margin-bottom: 30px;
    }

    @media screen and(min-width:768px) {
     width: 354px;
     &:not(:last-child){
      margin-bottom: unset;
    }
    margin-left: 30px;
    margin-top: 30px;
  }

  @media screen and(min-width:1200px) {
    width:270px}
}
  // width: calc((100%-90px) / 4);
  
  .advantage-item:nth-child(4n) {
    margin-right: 0;
  }
  
  .advantage-essence {
    padding: 0;
    margin: 0;
  }
  
  .icon-advantage {
    width: 65.32px;
    height: 70px;
  }
  
  .icon-conteiner {
    background: $secondary-bgc;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
  }