.hero-conteiner {
    margin: 0 auto;
    max-width: 1600px;
  }
  
.hero {
    background: $accent-bgc;
    padding: 0;

.hero-conteiner {
        background-image: linear-gradient(
            to top left,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../img/Герой.jpg);
        background-position: center;
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
      }  
  }
  
  
  .heading-conteiner {
    width: 695px;
    text-align: center;
    margin: 0 auto;
  }
  
  .hero-main {
    color: $bgc-accent-text-color;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  
  .button {
    background-color: $button-bgc;
    color: $bgc-accent-text-color;
    border-color: $button-bgc;
    font-family: inherit;
    font-style: normal;
    font: weight 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    letter-spacing: 0.06em;
    border-style: none;
  
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    outline-color: $bgc;
    cursor: pointer;
  }
