.team {
    background: $secondary-bgc;
    padding-top: 94px;
    padding-bottom: 94px;

    .team-hero {
      width: 270px;
      margin-left: auto;
      margin-right: auto;
      background-color: $bgc-accent-text-color;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      text-align: center;
  
     &:not(:last-child) {
          margin-right: 30px;
        }
  }
  .our-team {
    color: $main-text-color;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  h3 {
    color: $main-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  
  .text {
    color: $secondary-text-color;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    padding-bottom: 16px;
  }
  
 

  }
  .name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    margin-bottom: 10px;
   
  }
  
  .workers {
    display: block;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .our-team-hidden {
    display: block;
    margin-bottom: 50px;
  }
  
  .team-list {
    display: flex;
  } 

  
  
  .foto {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  
    
  .card.flex-start-aligned {
    align-items: flex-start;
  }
  .team-icons {
    display: inline-flex;
    justify-content: center;
  }
  
  .icon-network {
    width: 20px;
    height: 20px;
  
    fill: currentColor;
  }
  
  .icon-link {
    display: inline-flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    background-position: center;
    justify-content: center;
    color: $icon-link;
    margin-right: 10px;

  &:hover,
  &:focus {
    background-color: $accent-text-color;
    color: $bgc-accent-text-color;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  }
    
  .network-conteiner {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
  }