
  
  .conteiner-text {
    padding: 20px 24px;
  }

.text-portfolio {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: $secondary-text-color;
  }
  
  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $main-text-color;
  }
  
  .foto-list {
    flex-wrap: wrap;
    display: flex;
    
  }
  
  .foto-item {
    flex-basis: (calc(100%-60px) / 3);
    border: 1px solid #eeeeee;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
    box-sizing: border-box;

    &:nth-child(3n) {
        margin-right: 0;
      }
      
    &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
  }
  
  
  .link-portfolio {
    display: block;
    text-decoration: none;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: none;
  
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);}

  &:hover .overlay,
  &:focus .overlay {
    transform: translateY(0%);
  }
  
  }
  
    
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
  
    transform: translateY(100%);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .overlay > p {
    color: $bgc-accent-text-color;
    font-size: 18px;
  }
  
  .overlay-conteiner {
    position: relative;
    overflow: hidden;
  }