.conteiner-contacts {
    
    width: 100%;
   
    padding: 0;
    margin-bottom: 60px;
     display: flex;
  flex-direction: column;
    align-items: center;

    @media screen and(min-width:768px) and (max-width:1199px) {
      width: 50%;}

      @media screen and(min-width:1200px) {
     align-items: unset;
     margin-bottom: unset;
     
  
 }
  }
  
  .logo {
    color: $bgc-accent-text-color;
  }
  
  .logo-footer {
    font-family: $sec-fond-famele;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
      
  }
  
  .address {
    color: $bgc-accent-text-color;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
   
    margin-bottom: 8px;
    text-decoration: none;

    

    &:last-child {
        margin-bottom: 0;
      }
  }

    
  .link-footer {
    color: $footer-addressbox-text-color;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
  
  .mailto {
    margin-bottom: 9px;
  }
  
  