.conteiner-join {
   
    justify-content: center;
    margin-bottom: 60px;
    width: 100%;
     display: flex;
  flex-direction: column;
    align-items: center;
    @media screen and(min-width:768px) and (max-width:1199px) {
      width: 50%;}
      
   @media screen and(min-width:1200px) {
  align-items: flex-start;
  margin-bottom: unset;
 margin-right: 70px;
}
    
  }
  
   
  .joim-item {
    display: flex;
  }
  
  .join-tatile {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $bgc-accent-text-color;
    margin-bottom: 20px;
  }
  
  
  .icon-join {
    background-color: rgba(255, 255, 255, 0.1);
    color: $bgc-accent-text-color;
  }