.footer {
    background-color: $accent-bgc;
    font-size: 14px;
    line-height: 1.7;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .conteiner-footer {
    display: flex;
    align-items: baseline;
  }
  
  
  