.logo-header {
    font-family:$sec-fond-famele;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  
    margin-right: 93px;
    margin-left: 0px;
    
    @media screen and(max-width:480px) {
  margin-right: unset;;}


  }
  .logo-web {
    color: $accent-text-color;
  }
  .logo-studio {
    color: $main-text-color;
  }