.button-menu{
    margin-left: auto;
    background: $header-bgc;
    border: $header-bgc;
    
    @media screen and(min-width:768px)  {
  display: none;}

 }

.button-menu:focus,
.button-menu:hover{
    fill: $accent-text-color;
}


.modal-menu{
    position: absolute;
    z-index: 1;
    top:36%;
    left:50%;
    width: 100%;
    max-height:100%;
    background-color: $bgc-accent-text-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition-property: transform, scale;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 48px 40px;
  
}

.close-menu{
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 2;
    background: $header-bgc;
    border: $header-bgc;
    display: inline-flex;
    margin: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
      
}

.nav-conteiner-mobi{
    margin-bottom: 302px;
}

.item-mobi{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 1.2;
letter-spacing: 0.02em;


margin-bottom: 32px;

&:last-child {
  margin-bottom: 0;
}
}

.link-header-mobi{
color: #212121;

&:hover,
&:focus {
 color: $accent-text-color;}
}

.link-header-mobi.current{
  color: $accent-text-color;  
}

.contacts-mobi{
    margin-bottom: 64px;
}

.item-tel-mobi{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 1.2;
letter-spacing: 0.02em;


margin-bottom: 32px;
}

.item-mail-mobi{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;
}

.link-contacts-mobi{
    color: #757575;

&:hover,
&:focus{
color: #2196F3;
}
}

.mob-social__list{
    display: flex;
    margin-bottom: 48px;
}

.mob-social__item{
  &:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mob-social__link{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;

color: #2196F3;
}