.nav-conteiner {
    display: flex;
    align-items: center;
    @media screen and(max-width:480px) {
  display: none;}
}
  
.nav-links {
    display: flex;
  }
  
.nav-links > .item:not(:last-child) {
    margin-right: 50px;
  }
  
  .site-nav.link-header.current {
    color: $accent-text-color;
  }
  
  .link-header {
    color: $main-text-color;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    position: relative;
    padding: 33px 0;

    &:hover,
    &:focus {
    color: $accent-text-color;
  }
  &::after {
    content: "";
  
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $button-bgc;
    opacity: 0;
  
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.current {
    color: $accent-text-color;
  }

  }
    
  .link-contacts {
    color: $secondary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;

  &:hover,
  &:focus {
    color: $accent-text-color;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  }
    
  .current.link-header::after {
    opacity: 1;
  }
  
  
  