
    $main-text-color: #212121;
    $secondary-text-color: #757575;
    $accent-text-color: #2196f3;
    $bgc-accent-text-color: #ffffff;
    $footer-addressbox-text-color: rgba(255, 255, 255, 0.6);
    
    $button-bgc: #2196f3;
    $main-bgc: #e5e5e5;
    $secondary-bgc: #f5f4fa;
    $accent-bgc: #2f303a;
    $header-bgc: #ffffff;
    $bgc: #2196f3;
  
    $checkbox-color: #212121;
    $icon-link: #afb1b8;
    $button-bgc:#2196f3;

    $main-fond-famele:"Roboto";
    $sec-fond-famele:"Raleway";